# Copyright (c) 2021, IRT SystemX (https://www.irt-systemx.fr/en/)
# See AUTHORS.txt
# This Source Code Form is subject to the terms of the Mozilla Public License, version 2.0.
# If a copy of the Mozilla Public License, version 2.0 was not distributed with this file,
# you can obtain one at http://mozilla.org/MPL/2.0/.
# SPDX-License-Identifier: MPL-2.0
# This file is part of LIPS, LIPS is a python platform for power networks benchmarking

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

#custom ignore folders
.vscode
lips/benchmark/Benchmark copy.py
lips/benchmark/Benchmark copy 2.py
lips/dataset/DataSet copy.py
lips/dataset/DataSet copy 2.py
lips/models/*
lips/models

lips/simulators/augmentedSimulator copy.py
lips/simulators/DCApproximation copy.py

temporary.ipynb
temporary1.ipynb
Notebook_Benchmark2.ipynb

lips/Outputs/Scenario1/Data/super_test
lips/Outputs/Scenario1/Data/test
lips/Outputs/Scenario1/Data/training
lips/Outputs/Scenario1/Data/validation

lips/Outputs
lips/Outputs/Scenario1/Data/init_obs.npy
lips/Outputs/Scenario1/Benchmarks/benchmark1/leap_net/test/*
lips/Outputs/Scenario1/Benchmarks/benchmark1/leap_net/super_test/*


lips/Outputs/Scenario1_old
lips/Outputs/Scenario2
lips/Outputs/Scenario5

.idea
test_generate_data.py
test_feature/
test_save/
test_dc_proxy.py
test_fully_connected.py
trained_models/
test_leap_net.py