# Copyright (c) 2021, IRT SystemX (https://www.irt-systemx.fr/en/)
# See AUTHORS.txt
# This Source Code Form is subject to the terms of the Mozilla Public License, version 2.0.
# If a copy of the Mozilla Public License, version 2.0 was not distributed with this file,
# you can obtain one at http://mozilla.org/MPL/2.0/.
# SPDX-License-Identifier: MPL-2.0
# This file is part of LIPS, LIPS is a python platform for power networks benchmarking

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# ignore all the bkp files
*.bkp

#custom ignore folders
.vscode

# CI/CD
.circleci/config.yml.bkp
process.yml

# linters
.config

# documentations
docs/source/conf.py.bkp
docs/_templates
docs/build

# data
reference_data/pneumatic/*
reference_data/powergrid/l2rpn_case14_sandbox/benchmark1/*
reference_data/powergrid/l2rpn_case14_sandbox/benchmark2/*
reference_data/powergrid/l2rpn_case14_sandbox/benchmark3/*
reference_data/powergrid/l2rpn_case14_sandbox/Benchmark_competition_complete/*
reference_data/powergrid/l2rpn_case14_sandbox/Benchmark_competition_demo/*
reference_data/powergrid/l2rpn_case14_sandbox/DC/*
reference_data/powergrid/l2rpn_neurips_2020_track1_small/benchmark1/*
reference_data/powergrid/l2rpn_neurips_2020_track1_small/benchmark2/*
reference_data/powergrid/l2rpn_neurips_2020_track1_small/benchmark3/*
reference_data/powergrid/l2rpn_neurips_2020_track1_small/Benchmark_competition_complete/*
reference_data/powergrid/l2rpn_neurips_2020_track1_small/Benchmark_competition_demo/*
reference_data/powergrid/l2rpn_neurips_2020_track1_small/DC/*
reference_data/powergrid/l2rpn_idf_2023/Benchmark_competition_complete/*
reference_data/powergrid/l2rpn_idf_2023/Benchmark_competition_demo/*

# Trained baseline
trained_baselines/powergrid/*

getting_started/AirfoilUsecase/AirfRANSDataset
getting_started/AirfoilUsecase/Dataset
getting_started/AirfoilUsecase/dataset_log
getting_started/AirfoilUsecase/Dataset.zip
getting_started/AirfoilUsecase/log_benchmark

# getting started
getting_started/auxiliary/Untitled.ipynb
getting_started/auxiliary/FindActions.ipynb
getting_started/auxiliary/Generation_tests.ipynb
getting_started/auxiliary/Kirchhoff_law.ipynb
getting_started/auxiliary/Ohm_law.ipynb
getting_started/auxiliary/Ohm_law_tests.ipynb
getting_started/Tentative to implement Ohm law (to be removed).ipynb
getting_started/Test_joule_law.ipynb

# metrics
lips/metrics/power_grid/BasicVerifier.py.bkp
lips/metrics/power_grid/Check_energy_conservation.py.bkp
lips/metrics/power_grid/Check_KCL.py.bkp
lips/metrics/power_grid/Check_Kirchhoff_current_law.py.bkp
lips/metrics/power_grid/Check_loss.py.bkp
lips/metrics/power_grid/metric_percentage.py

# evaluation
lips/evaluation/Evaluation.py.bkp
lips/evaluation/Evaluation_new.py.bkp
lips/evaluation/conf.ini
lips/evaluation/__init__.py.bkp
evaluation_results/PowerGrid/l2rpn_idf_2023/*

# tests
lips/tests/Evaluation/test_evaluation.py.bkp
lips/tests/data/powergrid/l2rpn_idf_2023

# LIPS
logs.log
lips_logs.log

trained_models/