recursive-include lips/tests *.ini
recursive-include configurations *
global-exclude */__pycache__/*
global-exclude *.pyc
global-exclude codabench/*
global-exclude evaluation_results/*
global-exclude reference_data/*
global-exclude trained_baselines/* 