pybind11==2.8.1
protobuf==3.20.1
pandapower==2.8.0
pandas==1.4.2
jupyter
tensorflow==2.8.0
torch==2.0.1
filelock==3.7.1
json2table==1.1.5
loguru==0.6.0
PyYAML==6.0
tqdm==4.62.3
Grid2Op==1.9.8
lightsim2grid==0.7.5
leap-net==0.0.5
imageio==2.34.0
plotly==5.20.0
